.ps-store-finder>.ps-button-label {
    float: left;
    display: block;
    margin: 0 0 0 0;
    padding: 10px;
    background: #000; 
    min-width: 0;
    font-family: 'SamsungOneLatinWeb', 'SamsungSans', 'Interface_bd', Arial, Helvetica, 'San-Serif';
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -0.0625rem 0;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}
.ps-widget[ps-sku].ps-store-finder > small, .ps-widget[data-ps-sku].ps-store-finder > small {
    display: none;
}
.ps-widget[ps-sku].ps-store-finder.ps-disabled, .ps-widget[data-ps-sku].ps-store-finder.ps-disabled {
    background: #aaa;
    text-shadow: none;
    cursor: default;
}
.ps-widget[ps-sku].ps-store-finder.ps-disabled > span, .ps-widget[data-ps-sku].ps-store-finder.ps-disabled > span {
    display: none;
}
.ps-widget[ps-sku].ps-store-finder.ps-disabled > small, .ps-widget[data-ps-sku].ps-store-finder.ps-disabled > small {
    font-family: 'SamsungOneLatinWeb', 'SamsungSans', 'Interface_bd', Arial, Helvetica, 'San-Serif';
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
    display: block;
}
@media screen and (min-width: 1025px) {
    .ps-store-finder>.ps-button-label:hover {
    }
    .ps-widget[ps-sku].ps-store-finder.ps-disabled:hover, .ps-widget[data-ps-sku].ps-store-finder.ps-disabled:hover {
        background: #aaa;
        cursor: default;
    }
    .ps-widget[ps-sku].ps-store-finder.ps-disabled:hover > small, .ps-widget[data-ps-sku].ps-store-finder.ps-disabled:hover > small {
        font-family: 'SamsungOneLatinWeb', 'SamsungSans', 'Interface_bd', Arial, Helvetica, 'San-Serif';
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        color: #fff;
    }
}