/*! Load */
.galaxy-s10 {opacity: 0}
#wrap.bright-header {background: #000}
.load .galaxy-s10 {opacity:1;transition: opacity .35s}
.bright-header-background div#header {background:#000;}

/* focus color */
.new_.contents a:focus, .new_.contents button:focus{box-shadow: inset 0 0 0 2px rgba(27,127,204,.8);}
#layer-youtube a:focus, #layer-youtube button:focus{box-shadow: inset 0 0 0 2px rgba(255,255,255,.8);}

/*! Common */
#subnav.nav-type1 ul li a {border-top:1px solid transparent;box-sizing:border-box;}
.s34 #subnav.nav-type1 ul li a {height:41px;line-height:40px;}
.s2 #subnav.nav-type1 ul li a {height:49px;line-height:50px;}
.s1 #subnav.nav-type1 ul li a {height:35px;line-height:34px;}
.dotcom.s0 #subnav.nav-type1 p.pre-button a{width: 75px;}
html.color_yb .bright-header #subnav.nav-type1 ul li a {border-top:1px solid rgba(255,255,255,0.3);}

#contents:not(.kv-fixed) #subnav + section {margin-top:96px}
.s2 #contents:not(.kv-fixed) #subnav + section {margin-top:104px}
.s1 #contents:not(.kv-fixed) #subnav + section {margin-top:79px; padding-top:0}
.dotcom #contents:not(.kv-fixed) #subnav + section {margin-top:0}
.dotcom.s34 #contents:not(.kv-fixed) #subnav + section {padding-top:85px}
.dotcom.s2 #contents:not(.kv-fixed) #subnav + section {padding-top:121px}
.dotcom.s1 #contents:not(.kv-fixed) #subnav + section {padding-top:77px; margin-top:0}

.go-view-contents{padding-top:80px;text-align:center}
.go-view-contents.align-left{text-align:left}
.go-view-contents .c_link_pre-type2{color:#000}
.s3 .go-view-contents,
.s2 .go-view-contents{padding-top:60px}
.s2 .go-view-contents .c_link_pre-type2{max-width:440px}
.s1 .go-view-contents{max-width:300px;margin:0 auto;padding-top:40px;text-align:center;}

/*! Common | Fonts */
.s34 .c_tit-type1 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 110px}
.s34 .c_tit-type2 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 40px; line-height: 1.5}
.s34 .c_tit-type3 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 30px; line-height: 1.4;letter-spacing: 0.1px}
.s34 .c_cate-type1 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 20px; line-height: 1.2}
.s34 .c_desc-type1 {font-family: 'SamsungOne';font-size: 18px; line-height: 1.75;letter-spacing: -0.1px;}
.s34 .c_desc-type2 {font-family: 'SamsungOne';font-size: 14px; line-height: 1.75;letter-spacing: -0.1px;}
.s34 .c_desc-type3 {font-family: 'SamsungOne';font-weight: 700;font-size: 20px; line-height: 1.7}

.s2 .c_tit-type2 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 40px; line-height: 1.5}
.s2 .c_tit-type3 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 30px; line-height: 1.4;letter-spacing:normal}
.s2 .c_cate-type1 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 20px; line-height: 1.2}
.s2 .c_desc-type1 {font-family: 'SamsungOne';font-size: 18px; line-height: 1.6}
.s2 .c_desc-type2 {font-family: 'SamsungOne';font-size: 14px; line-height: 1.375}
.s2 .c_desc-type3 {font-family: 'SamsungOne';font-weight: 700;font-size: 20px; line-height: 1.7}

.s1 .c_tit-type1 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 28px; line-height: 36px}
.s1 .c_tit-type2 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 23px; line-height: 36px}
.s1 .c_tit-type3 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 21px; line-height: 33px;letter-spacing:normal}
.s1 .c_cate-type1 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 15px; line-height: 20px}
.s1 .c_desc-type1 {font-family: 'SamsungOne';font-size: 15px; line-height: 26px}
.s1 .c_desc-type2 {font-family: 'SamsungOne';font-size: 13px; line-height: 18px}
.s1 .c_desc-type3 {font-family: 'SamsungOne';font-weight: 700;font-size: 15px; line-height: 24px;}
.dotcom #subnav.nav-type1 ul li a{font-family: 'SamsungOne';font-weight: bold;}
.dotcom.s1 #subnav.nav-type1 .heading a em,
.dotcom.s1 #subnav.nav-type1 .heading span em {display:block;font-size:10px;line-height:12px;}
.dotcom.s1 #subnav.nav-type1 .heading a em:first-child,
.dotcom.s1 #subnav.nav-type1 .heading span em:first-child {padding-top:10px;}

/* ! Common | sup */
.galaxy-s10 sup{line-height: 1.2;}
.s34 sup a, .s12 sup a {color:inherit; font-weight:bold;white-space: nowrap;}
.s34 sup a {font-size:10px;}
.s12 sup a {font-size:9px;}
html.color_yb .galaxy-s10 sup a {color:#fff01f !important;}

/*! Common | title */
.s34 .galaxy-s10 .f_header-s10 {padding-top:110px;padding-bottom:220px}
.s34 .c_tit-type3 + .c_desc-type1 {padding-top: 40px}
.s2 .c_tit-type3 + .c_desc-type1 {padding-top: 35px}
.s1 .c_tit-type3 + .c_desc-type1 {padding-top: 20px}
.s34 .c_desc-type1 +.c_desc-type2 {padding-top: 36px}
.s12 .c_desc-type1 +.c_desc-type2 {padding-top: 20px}
.s34 .c_desc-type2 + .c_desc-type2 {margin-top: 9px !important;}
.s12 .c_desc-type2 + .c_desc-type2 {margin-top: 8px !important;}
.s2 .galaxy-s10 .f_header-s10 {padding-top:100px;padding-bottom:200px}
.s1 .galaxy-s10 .f_header-s10 {padding-top:60px;padding-bottom:120px}


.s34 .galaxy-s10 .f_header-s10,
.s2 .galaxy-s10 .f_header-s10 {position: relative;padding-left:56px;left:0;right:0;top:0;}
.s34 .galaxy-s10 .f_header-s10 .c_cate-type1,
.s2 .galaxy-s10 .f_header-s10 .c_cate-type1 {position: absolute; top: 6px; left: 0; width: 56px;}
.s34 .galaxy-s10 .f_header-s10 .c_cate-type1 span,
.s2 .galaxy-s10 .f_header-s10 .c_cate-type1 span {
	display: inline-block; position: absolute; right: 56px; top:118px;
    -webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);transform: rotate(-90deg);-ms-transform: rotate(-90deg);
    -webkit-transform-origin: right top;-moz-transform-origin: right top;transform-origin: right top;-ms-transform-origin: right top;
    white-space: nowrap;
}
.galaxy-s10 .c_tit-type3 {color: #747474}
.galaxy-s10 .c_tit-type3 em {color: #fff}
.galaxy-s10 .m_feature-white .c_tit-type3 {color: #747474}
.galaxy-s10 .m_feature-white .c_tit-type3 em {color: #000}

.s12 .c_cate-type1 + .c_tit-type2 {margin-top: 14px;}
.s1 .galaxy-s10 .f_header-s10 {position: static; margin: 0; width: auto;}
.s1 .galaxy-s10 .f_header-type1 {position: static; margin: 0 26px; padding-top:0;padding-bottom:0; width: auto;}

html.s34 article[class*='m_feature-'].last-feature {padding-bottom:110px;}
html.s2 article[class*='m_feature-'].last-feature {padding-bottom:100px;}
html.s1 article[class*='m_feature-'].last-feature {padding-bottom:60px;}

html.s34 .m_content-kv.scroll-type + section {padding-top:110px;}
html.s2 .m_content-kv.scroll-type + section {padding-top:100px;}
html.s1 .m_content-kv.scroll-type + section {padding-top:60px;}


/* title move */
.s34 .f_header-s10 .c_cate-type1, .s2 .f_header-s10 .c_cate-type1 {transform:translateY(20px); opacity:0;}
.s34 .f_header-s10.moved .c_cate-type1, .s2 .f_header-s10.moved .c_cate-type1{transform:translateY(0); opacity:1; transition:all 1s;}

/*! Common | button */
.c_btn_learn_more {text-align:center;font-size:0;}
.load .c_btn_learn_more a.c_btn_pre-type2,
.load .m_content-banner a.order-button {
    background:-webkit-linear-gradient(left, #20feee, #1079fb, #20feee, #1079fb);
    background:-o-linear-gradient(left, #20feee, #1079fb, #20feee, #1079fb);
    background:linear-gradient(to right, #20feee, #1079fb, #20feee, #1079fb);
    background-size:400% 400%;background-position:99% 50%;
}
.dotcom .c_btn_learn_more a.c_btn_pre-type2,
.m_content-banner a.order-button {font-family:'SamsungOne';font-weight:bold}
.c_btn_learn_more a.c_btn_pre-type2,
.m_content-banner a.order-button {font-family:'SamsungOne';font-weight:700;border:3px solid #fff;position:relative;background-origin:border-box;padding:0;overflow:hidden;}
.c_btn_learn_more a.c_btn_pre-type2 span,
.m_content-banner a.order-button span {display: block; box-sizing:border-box;background-color: transparent; width: 100%; height: 100%; position: relative; left: 0; top: 0; border-radius: 58px;background-color:#000;}
.m_content-banner a.order-button span {background-color:#171717;}
.desktop .c_btn_learn_more a.c_btn_pre-type2:hover,
.desktop .c_btn_learn_more a.c_btn_pre-type2:focus,
.desktop .m_content-banner a.order-button:hover,
.desktop .m_content-banner a.order-button:focus {border-color:transparent;color:#fff;}

.ie9 .c_btn_learn_more a.c_btn_pre-type2,
.ie9 .m_content-banner a.order-button {background:none;}
.desktop.ie9 .c_btn_learn_more a.c_btn_pre-type2:hover,
.desktop.ie9 .c_btn_learn_more a.c_btn_pre-type2:focus,
.desktop.ie9 .m_content-banner a.order-button:hover,
.desktop.ie9 .m_content-banner a.order-button:focus {border-color:#20feee;}

.s34 .c_btn_learn_more a.c_btn_pre-type2,
.s34 .m_content-banner a.order-button {height:50px;line-height:47px;font-size:13px;letter-spacing:1.7px}
.s34 .c_btn_learn_more a.c_btn_pre-type2 span,
.s34 .m_content-banner a.order-button span {padding-left:45px;padding-right:45px;min-width:190px;}
.s2 .c_btn_learn_more a.c_btn_pre-type2,
.s2 .m_content-banner a.order-button {height:64px;line-height:61px;font-size:16px;letter-spacing:1.7px}
.s2 .c_btn_learn_more a.c_btn_pre-type2 span,
.s2 .m_content-banner a.order-button span {padding-left:54px;padding-right:54px;}
.s1 .c_btn_learn_more a.c_btn_pre-type2,
.s1 .m_content-banner a.order-button {height:43px;line-height:40px;font-size:12px;letter-spacing:1.7px;border-width:2px;}
.s1 .c_btn_learn_more a.c_btn_pre-type2 span,
.s1 .m_content-banner a.order-button span {padding-left:36px;padding-right:36px;}

.c_btn_learn_more.color_type2 .c_btn_pre-type2{border-color:#000;}
.c_btn_learn_more.color_type2 .c_btn_pre-type2 span{background-color:#fff;color:#000;}
.c_btn_learn_more.align_left{text-align:left;}

html.color_yb .c_btn_learn_more a.c_btn_pre-type2,
html.color_yb  .m_content-banner a.order-button {border-color:#fff01f;}
html.color_yb .c_btn_learn_more.color_type2 .c_btn_pre-type2{border-color:#fff;}
html.color_yb .c_btn_learn_more.color_type2 .c_btn_pre-type2 span{background-color:#000;color:#fff}
html.color_yb.desktop .c_btn_learn_more.color_type2 .c_btn_pre-type2:hover span,
html.color_yb.desktop .c_btn_learn_more.color_type2 .c_btn_pre-type2:focus span{border-color:transparent;color:#fff;
    -webkit-animation: buttonGradient 10s ease infinite;
    -moz-animation: buttonGradient 10s ease infinite;
    animation: buttonGradient 10s ease infinite;
}



@-webkit-keyframes buttonGradient {
    0% {background-position:99% 50%;}
    50% {background-position:1% 50%;}
    100% {background-position:99% 50%;}
}
@keyframes buttonGradient {
    0% {background-position:99% 50%;}
    50% {background-position:1% 50%;}
    100% {background-position:99% 50%;}
}

/*! link */
[class*='c_link_pre-']{display:inline-block;position:relative;width:auto;font-family:'SamsungOne';font-size:18px;line-height:32px;color:#000;text-decoration:underline;word-break: break-word;}
[class*='c_link_pre-'] em{font-family:'SamsungSharpSans';font-weight:bold !important;}
[class*='c_link_pre-']:after{display:inline-block;width:20px;height:20px;margin-left:12px;background-position:0 0;background-repeat:no-repeat;background-size:100% 300%;vertical-align:sub;content:'';}
[class*='c_link_pre-'].white-type{color:#fff;}
.desktop [class*='c_link_pre-'].white-type:hover,
[class*='c_link_pre-'].white-type:focus,
.desktop [class*='c_link_pre-']:hover,
[class*='c_link_pre-']:focus,
.s1 .c_link_pre-type1:focus{color:#5084ca !important;text-decoration:underline}

[class*='c_link_pre-']:hover,
[class*='c_link_pre-']:focus{transition-delay:0 !important}

html.color_yb [class*='c_link_pre-']{color:#fff01f;background:#000;}
html.color_yb [class*='c_link_pre-'] em{color:inherit}
html.color_yb .c_link_pre-type1:focus,
html.color_yb .c_link_pre-type1:hover,
html.color_yb.desktop [class*='c_link_pre-']:hover{color:#fff01f !important}


/* link_black */
.show .c_link_pre-type1:after{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_page_link.png')}

.desktop .c_link_pre-type1:hover:after,
.desktop .c_link_pre-type1:focus:after{background-position:0 -40px}
html.color_yb .c_link_pre-type1:after{background-position:0 -20px !important}

.s1 .c_link_pre-type1:after{width:22px;height:22px;}
.s1 .c_link_pre-type1:focus:after,
html.color_yb.s1 .c_link_pre-type1:focus:after{background-position:0 -44px}
html.color_yb.s1 .c_link_pre-type1:after{background-position:0 -22px !important}

/* link_white */
.c_link_pre-type1.white-type:after{background-position:0 -20px}
.s1 .c_link_pre-type1.white-type:after{background-position:0 -22px}
.desktop.s1 .c_link_pre-type1:hover:after,
.s1 .c_link_pre-type1:focus:after{background-position:0 -44px}

/* play_black */
.show .c_link_pre-type2:after{width:24px;height:24px;margin-left:6px;vertical-align:middle;background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_page_arrow.png')}

.desktop .c_link_pre-type2:hover:after,
.desktop .c_link_pre-type2:focus:after{background-position:0 -48px}
html.color_yb .c_link_pre-type2:after{background-position:0 -24px}

.s1 .c_link_pre-type2:focus:after,
html.color_yb.s1 .c_link_pre-type2:focus:after{background-position:0 -48px}
html.color_yb.s1 .c_link_pre-type2:after{background-position:0 -24px}

/* play_white */
.c_link_pre-type2.white-type:after{background-position:0 -24px}
.s1 .c_link_pre-type2.white-type:after{background-position:0 -24px}
.desktop.s1 .c_link_pre-type2:hover:after,
.s1 .c_link_pre-type2:focus:after{background-position:0 -48px}


.ie8 .c_link_pre-type1:after{width:22px;height:22px;background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_page_link_ie8.png');background-size:22px 66px;}
.ie8 .c_link_pre-type1:hover:after,
.ie8 .c_link_pre-type1:focus:after{background-position:0 -44px}
.ie8 .c_link_pre-type1.white-type:after,
html.color_yb.ie8 .c_link_pre-type1:after{background-position:0 -22px !important}

html.color_yb.ie8.desktop .c_link_pre-type1:focus{color:#fff01f;}
.ie8 .c_link_pre-type2:after{width:24px;height:24px;background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_page_arrow_ie8.png');background-size:24px 72px;}
.ie8 .c_link_pre-type2:focus:after{background-position:0 -48px}
html.color_yb.ie8 .c_link_pre-type2:after{background-position:0 -24px}


/*! color-chip */
.color-chip a {display: inline-block;overflow: hidden;position: relative;width: 34px;height: 34px;margin-right:14px;vertical-align: top}
.color-chip a:before,
.color-chip a:after {content: '';position: absolute;left: 50%;top: 50%;margin: 0;border-radius: 50%;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.color-chip a:before {z-index: 1;box-sizing: border-box;width: 22px;height: 22px;background: #000;border: 1px solid #6a6a6a;margin: -11px 0 0 -11px;}
.color-chip a:after {box-sizing: border-box;width: 0;height: 0;border: 1px solid #000;}
.color-chip a.on:after,
.color-chip a:hover:after,
.s34 .color-chip a:focus:after{width: 100%;height: 100%}

.s34 .color-chip a.on:after,
.s34 .color-chip a:hover:after,
.s34 .color-chip a:focus:after{margin: -17px 0 0 -17px;}


.s2 .color-chip a{width:60px;height:60px;margin-right:24px;}
.s2 .color-chip a:last-child{margin-right:0;}
.s2 .color-chip a:before{width:40px;height:40px;margin:-20px 0 0 -20px;}
.s2 .color-chip a.on:after,
.s2 .color-chip a:hover:after{margin:-30px 0 0 -30px;}

.s1 .color-chip a{width:30px;height:30px;margin-right:7px;}
.s1 .color-chip a:before{width:20px;height:20px;margin:-10px 0 0 -10px;}
.s1 .color-chip a.on:after,
.s1 .color-chip a:hover:after{margin:-15px 0 0 -15px;}

/*.s12 .color-chip a:focus:after{display:none;}*/

html.color_yb .color-chip a:before,
html.color_yb .color-chip a:after{border-color:#fff;}



/*! color-chip | color */
.color-chip .c1:before {background: #000} /* black */
.color-chip .c2:before {background: #9860c5} /* purple */
.color-chip .c3:before {background: #0f7aa7} /* blue */
.color-chip .c4:before {background: #a1978f} /* brown */
.color-chip .c5:before {background: #fff} /* white */
.color-chip .c6:before {background: #173c52} /* sea green */
.color-chip .c7:before {background: #ac2f3d} /* red */
.color-chip .c8:before {background: #f4e849} /* yellow */
.color-chip .c9:before {background: #00b3e3} /* lightblue */
.color-chip .c10:before {background: #bbb4be} /* light gray */
.color-chip .c11:before {background: #f0c4b6} /* pink beige */
.color-chip .c12:before {background: #bebebe} /* silver */
.color-chip .c13:before {background: #32559c} /* navy */
.color-chip .c14:before {background: #16727e} /* green */
.color-chip .c15:before {background: #324d79} /* dark blue */
.color-chip .c16:before {background: #fdfd26} /* yellow - discover */
.color-chip .c17:before {background: #fcf1e9} /* Crown Silver - discover */
.color-chip .c18:before {background: #000} /* Majestic Black- discover */
.color-chip .c19:before {background: #e1d0bc} /* Royal Gold - discover */

/* galaxy buds color chip */
.galaxy_buds .c1:before{background:rgb(40,40,45);}
.galaxy_buds .c5:before{background:rgb(244,245,240);}
.galaxy_buds .c8:before{background:rgb(247,234,72);}

/* galaxy watch active color chip */
.galaxy_watch_active .c1:before{background:rgb(40,40,45);}
.galaxy_watch_active .c10:before{background:rgb(190,189,189);}
.galaxy_watch_active .c11:before{background:rgb(219,176,162);}
.galaxy_watch_active .c6:before{background:rgb(39,78,85);}

/* galaxy fit color chip */
.galaxy_fit .c1:before{background:rgb(40,40,45);}
.galaxy_fit .c12:before{background:rgb(216,215,223);}

/* led view cover color chip */
.led_view_cover .galaxy-s10e .c5:before{background:rgb(229,228,228);}
.led_view_cover .galaxy-s10e .c14:before{background:rgb(91,104,89);}
.led_view_cover .galaxy-s10e .c8:before{background:rgb(230,238,72);}
.led_view_cover .galaxy-s10e .c1:before,
.led_view_cover .galaxy-s10 .c1:before,
.led_view_cover .galaxy-s10-plus .c1:before{background:rgb(60,60,57);}
.led_view_cover .galaxy-s10 .c5:before,
.led_view_cover .galaxy-s10-plus .c5:before{background:rgb(230,230,230);}
.led_view_cover .galaxy-s10 .c14:before,
.led_view_cover .galaxy-s10-plus .c14:before{background:rgb(0,135,138);}

/* clear view cover color chip */
.clear_view_cover .galaxy-s10e .c1:before{background:rgb(8,15,21);}
.clear_view_cover .galaxy-s10e .c5:before{background:rgb(239,239,239);}
.clear_view_cover .galaxy-s10e .c6:before{background:rgb(22,114,126);}
.clear_view_cover .galaxy-s10e .c8:before{background:rgb(230,238,72);}
.clear_view_cover .galaxy-s10 .c1:before,
.clear_view_cover .galaxy-s10-plus .c1:before{background:rgb(8,15,21);}
.clear_view_cover .galaxy-s10 .c5:before,
.clear_view_cover .galaxy-s10-plus .c5:before{background:rgb(239,239,239);}
.clear_view_cover .galaxy-s10 .c6:before,
.clear_view_cover .galaxy-s10-plus .c6:before{background:rgb(22,114,126);}

/* protective cover color chip */
.protective_standing_cover .galaxy-s10e .c13:before{background:rgb(9,29,73);}
.protective_standing_cover .galaxy-s10e .c5:before{background:rgb(242,242,242);}
.protective_standing_cover .galaxy-s10 .c13:before,
.protective_standing_cover .galaxy-s10-plus .c13:before{background:rgb(46,57,86);}
.protective_standing_cover .galaxy-s10 .c12:before,
.protective_standing_cover .galaxy-s10-5g .c13:before {background:#0f0f0f;}
.protective_standing_cover .galaxy-s10 .c12:before,
.protective_standing_cover .galaxy-s10-plus .c12:before,
.protective_standing_cover .galaxy-s10-5g .c12:before{background:rgb(175,175,175);}

/* silicone_cover */
.silicone_cover .c1:before{background:rgb(15,15,15)}
.silicone_cover .c5:before{background:rgb(242,242,242)}
.silicone_cover .c14:before{background:rgb(11,150,150)}
.silicone_cover .c3:before{background:rgb(45,122,167)}
.silicone_cover .c8:before{background:rgb(230,238,72)}
.silicone_cover .c11:before{background:rgb(235,92,79)}
.silicone_cover .c6:before{background:rgb(11,150,150)}
.silicone_cover .c13:before{background:rgb(50,77,121)}

/* leather cover */
.leather_cover .c1:before{background:rgb(15,15,15)}
.leather_cover .c5:before{background:rgb(230,230,230)}
.leather_cover .c6:before{background:rgb(22, 114, 126)}
.leather_cover .c13:before{background:rgb(50,77,121)}
.leather_cover .c7:before{background:rgb(172,47,61)}
.leather_cover .c10:before{background:rgb(161,151,143)}
.leather_cover .c8:before{background:rgb(230,238,72)}

/* led cover */
.led_cover .c1:before{background:rgb(8, 15, 21);}
.led_cover .c5:before{background:rgb(244,241,237);}


/*! prism color */
.show .color-chip .cg1:before { /* prism white */
    background: url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/common/icons/color9/icon_color-chip_prism-white.png') no-repeat;
    background-size: 100% auto;
}
.show .color-chip .cg2:before { /* prism black */
    background: url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/common/icons/color9/icon_color-chip_prism-black.png') no-repeat;
    background-size: 100% auto;
}
.show .color-chip .cg3:before { /* prism green */
    background: url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/common/icons/color9/icon_color-chip_flamingo-pink.png') no-repeat;
    background-size: 100% auto;
}
.show .color-chip .cg4:before { /* prism blue */
    background: url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/common/icons/color9/icon_color-chip_prism-blue.png') no-repeat;
    background-size: 100% auto;
}
.show .color-chip .cg5:before { /* canary yellow */
    background: url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/common/icons/color9/icon_color-chip_canary-yellow.png') no-repeat;
    background-size: 100% auto;
}

/*! Common | kv scroll gradation */
#kv-type2.scroll-type {z-index:0;background:#000;height:960px;}
#kv-type2.scroll-type.hide .m_feature-kv{position:absolute;}
#kv-type2.scroll-type .m_feature-kv {overflow:hidden;height:960px;position:fixed;top:0;z-index:-1;pointer-events:none;}
.dotcom #kv-type2.scroll-type .m_feature-kv{top:0;}
#kv-type2.scroll-type .m_feature-kv-text {position:absolute;top:auto;bottom:0;z-index:1;padding-bottom:80px;box-sizing:border-box;max-width:none;opacity:1;}
#kv-type2.scroll-type .bg {position:absolute;top:50%;left:0;right:0;width:100%;height:100%;z-index:0;/*opacity:0.5;*/
    background:-webkit-linear-gradient(rgba(0,0,0,0) 0%, #000 35%);
    background:-moz-linear-gradient(rgba(0,0,0,0) 0%, #000 35%);
    background:-o-linear-gradient(rgba(0,0,0,0) 0%, #000 35%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00000000', endColorstr='#FF000000');
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00000000', endColorstr='#FF000000')';
    background:linear-gradient(rgba(0,0,0,0) 0%, #000 35%);
}
#kv-type2.scroll-type .m_feature-kv-text .f_header-type1 {display:block;width:1140px;position:static;margin:0 auto;overflow:hidden;}
#kv-type2.scroll-type .m_feature-kv-text .k_area1 {width:40%; float:left}
#kv-type2.scroll-type .m_feature-kv-text .k_area2 {width:60%; float:right}
#kv-type2.scroll-type .m_feature-kv-text .f_header-type1 .c_tit-type2 {font-family:'SamsungSharpSans';font-weight:bold !important;font-size:42px; color:#fff;word-break: break-word;}
#kv-type2.scroll-type .m_feature-kv-text .f_header-type1 .c_tit-type3 {font-family:'SamsungSharpSans';font-weight:bold !important;font-size:36px; line-height:52px; color:#fff;word-break: break-word;}

#kv-type2.scroll-type.bright {background:#fff;}
#kv-type2.scroll-type.bright .bg {
    background:-webkit-linear-gradient(rgba(255,255,255,0) 0%, #fff 35%);
    background:-moz-linear-gradient(rgba(255,255,255,0) 0%, #fff 35%);
    background:-o-linear-gradient(rgba(255,255,255,0) 0%, #fff 35%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF');
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF')';
    background:linear-gradient(rgba(255,255,255,0) 0%, #fff 35%);
}
#kv-type2.scroll-type.bright .m_feature-kv-text .f_header-type1 .c_tit-type2,
#kv-type2.scroll-type.bright .m_feature-kv-text .f_header-type1 .c_tit-type3 {color:#000;}

.s34 #kv-type2.scroll-type .m_feature-kv-text {min-height:236px;}
.s34 #kv-type2.scroll-type .m_feature-kv-text .k_area1,
.s34 #kv-type2.scroll-type .m_feature-kv-text .k_area2 {padding-right:30px;box-sizing:border-box;}

.s3 #kv-type2.scroll-type .f_container > figure img {width:1920px;}
.s3 #kv-type2.scroll-type .m_feature-kv-text .f_header-type1 {width:864px;}
.s3 #kv-type2.scroll-type .m_feature-kv-text .k_area1 {width:37%;}
.s3 #kv-type2.scroll-type .m_feature-kv-text .k_area2 {width:63%;}

.s2 #kv-type2.scroll-type {height:950px;}
.s2 #kv-type2.scroll-type .m_feature-kv {height:950px;}
.s2 #kv-type2.scroll-type .m_feature-kv .f_container figure{width:1346px;margin-left:-673px;}
.s2 #kv-type2.scroll-type .m_feature-kv-text {padding-bottom:60px;}
.s2 #kv-type2.scroll-type .m_feature-kv-text .f_header-type1 {width:696px;}
.s2 #kv-type2.scroll-type .m_feature-kv-text .k_area1 {width:43%;padding-right:20px;box-sizing:border-box;}
.s2 #kv-type2.scroll-type .m_feature-kv-text .k_area2 {width:57%;}
.s2 #kv-type2.scroll-type .m_feature-kv-text .f_header-type1 .c_tit-type2 {font-size:32px; }
.s2 #kv-type2.scroll-type .m_feature-kv-text .f_header-type1 .c_tit-type3 {font-size:32px; line-height:44px;letter-spacing:0;}

.s1 #kv-type2.scroll-type {height:570px;}
.s1 #kv-type2.scroll-type .m_feature-kv {height:570px;}
.s1 #kv-type2.scroll-type .m_feature-kv figure{width:768px;margin-left:-384px;}
.s1 #kv-type2.scroll-type .m_feature-kv-text {padding-bottom:20px;-webkit-transition:opacity .9s;-ms-transition:opacity .9s;transition:opacity .9s;}
.s1 #kv-type2.scroll-type .m_feature-kv-text.hide {opacity:0;-webkit-transform:translateY(-60px);-ms-transform:translateY(-60px);transform:translateY(-60px);-webkit-transition:transform .75s, opacity .9s;-ms-transition:transform .75s, opacity .9s;transition:transform .75s, opacity .9s;}
.s1 #kv-type2.scroll-type .m_feature-kv-text .f_header-type1 {width:100%;max-width:100%;padding:0 26px;box-sizing:border-box;}
.s1 #kv-type2.scroll-type .m_feature-kv-text .k_area1 {width:100%;float:none;}
.s1 #kv-type2.scroll-type .m_feature-kv-text .k_area2 {width:100%;float:none;margin-top:16px;}
.s1 #kv-type2.scroll-type .m_feature-kv-text .f_header-type1 .c_tit-type2 {font-size:21px; line-height:24px;}
.s1 #kv-type2.scroll-type .m_feature-kv-text .f_header-type1 .c_tit-type3 {font-size:22px; line-height:34px;}

.dotcom .cm-breadcrumb.type-s10 {position:relative;z-index:2;}
.dotcom #kv-type2.scroll-type {height:855px;}
.dotcom #kv-type2.scroll-type .bg {top:45%;}
.dotcom.s2 #kv-type2.scroll-type {height:847px;}
.dotcom.s1 #kv-type2.scroll-type {height:507px;}

.ie9 #kv-type2.scroll-type .bg {top:0 !important;}

/*! Common | show motion */
.hello-ready .m_content-s10 article[class*='m_feature-'] [class*='c_']:not(.no-anim),
.hello-ready .m_content-s10 article[class*='m_feature-'] .f_container:not(.no-anim) {
    -webkit-transform:translateY(130px);
    -ms-transform:translateY(130px);
    transform:translateY(130px);
    opacity:0;
}
.hello-ready.s12 .m_content-s10 article[class*='m_feature-'] [class*='c_']:not(.no-anim),
.hello-ready.s12 .m_content-s10 article[class*='m_feature-'] .f_container:not(.no-anim) {
    -webkit-transform:translateY(60px);
    -ms-transform:translateY(60px);
    transform:translateY(60px);
    opacity:0;
}
.hello-ready .m_content-s10 article[class*='m_feature-'].ani-fade [class*='c_']:not(.no-anim),
.hello-ready .m_content-s10 article[class*='m_feature-'].ani-fade .f_container:not(.no-anim) {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0);opacity:1;
    -webkit-transition:transform .75s, opacity .9s;
    transition:transform .75s, opacity .9s;
}
.hello-ready.transition .m_content-s10 article[class*='m_feature-'] {position:relative;}
.hello-ready.transition .m_content-s10 article[class*='m_feature-'].fadebg [class*='c_']:not(.no-anim),
.hello-ready.transition .m_content-s10 article[class*='m_feature-'].fadebg .f_container:not(.no-anim) {opacity:0.01 !important; -webkit-transition-delay:0s !important; transition-delay:0s !important;}


/*! DISCOVER */
/*! Common | Page */
.blind {position:absolute;top:-1px;left:-1px;width:1px;height:1px;overflow:hidden;clip:rect(1px,1px,-1px,-1px);}

/*! DISCOVER_SPEC START */
.m_content-spec{color:#000;background:#fff;}
.m_content-spec .m_feature-spec{position:relative;padding:0 80px 130px;max-width:1280px;margin:0 auto;color:#000;}
.galaxy-s10 .m_content-spec .f_header-s10{position:static;padding:140px 0 150px;margin:0;text-align:center;}
.m_content-spec .f_header-s10 .c_tit-type1{font-size:60px;line-height:68px;}

.transition .m_content-s10.m_content-spec .m_feature-spec.fadebg [class*='c_']:not(.no-anim),
.transition .m_content-s10.m_content-spec .m_feature-spec.fadebg .f_content-table:not(.no-anim) {opacity:1 !important;}

/*! table layout */
.f_content-table {display:table;position:relative;width:100%;margin:0 auto;table-layout:fixed;}
.f_content-table .f_table-th,
.f_content-table .f_table-td{display:table-cell;position:relative;width:20%;vertical-align:middle}
.f_content-table .f_table-row{display: table;width:100%;border-bottom:1px solid #e5e5e5;}
.f_content-table .f_table-row:last-child{border-bottom:2px solid #000;}

.f_content-table .f_table-header{display: table;width:100%;font-family:'SamsungSharpSans';font-weight:bold !important}
.f_content-table .f_table-header .f_table-th:after,
.f_content-table .f_table-header .f_table-td:after{position:absolute;left:0;right:4px;bottom:0;background:#000;height:2px;content:''}
.f_content-table .f_table-header .f_table-td:last-child:after{right:0}

.f_content-table .f_table-header .f_table-th{padding:39px 0 36px;vertical-align:bottom;font-size:20px;line-height:42px;}
.f_content-table .f_table-header .f_table-th h3{font-size:inherit;line-height:inherit;}
.f_content-table .f_table-header .f_table-td{padding:39px 0 36px;font-size:26px;line-height:38px;vertical-align:bottom}

.f_content-table .btn_fold{display:block;position:relative;width:36px;height:36px;border-radius:50%;border:2px solid #000;text-align:center;background:none;cursor:pointer;}
.f_content-table .btn_fold:before,
.f_content-table .btn_fold:after{position:absolute;top:50%;left:50%;width:14px;height:2px;margin:-1px 0 0 -7px;background:#000;-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;transition:all .2s;-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%;content:'';}
.f_content-table .btn_fold:before{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}
.f_content-table .btn_fold:after{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);opacity:1;}
.f_content-table .btn_fold.unfold:before{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
.f_content-table .btn_fold.unfold:after{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);opacity:0;}

.f_content-table .f_table-body .f_table-th,
.f_content-table .f_table-body .f_table-td{padding:23px 0;font-size:16px;line-height:24px;font-family:'SamsungOne';word-break: break-word;}
.f_content-table .f_table-body .f_table-td{vertical-align:top}
.f_content-table .f_table-body .f_table-td em{display:block;}
.f_content-table .f_table-body .f_table-td span.dot {display:block;}
.f_content-table .copy-expand{display:none;padding-top:28px;opacity:0;width:300px;font-size:18px;line-height:30px;font-family:'SamsungSharpSans';font-weight:bold !important;-webkit-transition:opacity 1s;transition:opacity 1s;-webkit-transition-delay: 1s;transition-delay: 1s}
.f_content-table.fold .copy-expand{display:block;opacity:1;}
.f_content-table.fold .c_btn_pre-type2{display:none;}

/*! ico */
.f_content-table span[class*='ico-']{display:inline-block;}
.f_content-table span[class*='ico-']:before{display:inline-block;background-position:0 0;background-repeat:no-repeat;vertical-align:top;content:''}
.f_content-table span[class*='ico-galaxy-'] span{display:inline-block;text-align:left;vertical-align:bottom}
.f_content-table.type-5g span[class*='ico-galaxy-'] span{width:96px;}
.f_content-table span[class*='ico-galaxy-']:before{width:42px;height:83px;margin-right:25px;background-size:contain;}
.show .f_content-table .ico-galaxy-s10e:before{background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10e_specs_ico_phone.jpg')}
.show .f_content-table .ico-galaxy-s10:before{background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_specs_ico_phone.jpg')}
.show .f_content-table .ico-galaxy-s10-plus:before{background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10-plus_specs_ico_phone.jpg')}
.show .f_content-table .ico-battery:before{width:11px;height:20px;margin-right:8px;background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_specs_ico_battery.jpg') 0 0 no-repeat;background-size:contain;}
.f_content-table .f_table-body .f_table-td .ico-battery em{display:inline-block;}

/*! f_description */
.m_content-spec .f_description{padding-top:22px;}
.m_content-spec .list-desclaimer + .c_btn_learn_more{margin-top:35px}
.m_content-spec .list-desclaimer li{padding-left:8px;font-size:14px;line-height:24px;font-family:'SamsungOne';}
.m_content-spec .list-desclaimer li:before{display:inline-block;width:10px;margin-left:-10px;content:'*'}
.m_content-spec .list-desclaimer li a {text-decoration: underline;color:#000;}
.m_content-spec .list-desclaimer li em{display:block;}

/*! color-chip */
.m_content-spec .color-chip li{padding-left:20px;padding-bottom:4px;}
.m_content-spec .color-chip li sup{vertical-align:top}
.m_content-spec .color-chip span[class*='c']{display:inline-block;position:relative;width:10px;height:10px;margin:0 10px 0 -20px;}
.m_content-spec .color-chip span[class*='c']:before{position:absolute;top:0;left:0;width:11px;height:11px;border-radius:50%;content:'';}
.m_content-spec .color-chip span[class*='c']:after{position:absolute;top:0;left:0;width:9px;height:9px;border:1px solid #000;border-radius:50%;content:''}
.m_content-spec .color-chip sup a{width:auto;height:auto;margin-right:0}
.m_content-spec .color-chip sup a:before,
.m_content-spec .color-chip sup a:after{display:none}

.m_content-spec.black-type .color-chip span[class*='c']:after{border-color:#fff;}

.s34 .f_content-table .f_table-body .f_table-td{padding-right:20px}
.s3 .m_content-spec .m_feature-spec{padding:0 40px 130px}
.s3 .f_content-table .copy-expand{width:270px;padding-top:20px;font-size:16px;line-height:24px;}

.s3 .f_content-table .f_table-header .f_table-th h3{font-size:19px;}
.s3 .f_content-table .f_table-header .f_table-th{padding:41px 0 20px;font-size:17px;line-height:24px;}
.s3 .f_content-table .f_table-header .f_table-td{padding:28px 0 20px;font-size:22px;line-height:30px;}
.s3 .f_content-table .btn_fold{width:34px;height:34px;margin-top:7px;}
.s3 .f_content-table .f_table-body .f_table-th,
.s3 .f_content-table .f_table-body .f_table-td{font-size:16px;line-height:20px;}
.s3 .f_content-table span[class*='ico-beyond']:before{width:40px;height:77px;margin-right:20px;}

.s12 .f_content-table .f_table-th,
.s12 .f_content-table .f_table-td{display:block;width:auto;}
.s12 .f_content-table .f_table-header{position:absolute;top:0;left:0;display:block;}
.s12 .f_content-table .f_table-header .f_table-th h3{display:inline-block;}
.s12 .f_content-table .f_table-header .f_table-td{display:none;}
.s12 .f_content-table .btn_fold{display:inline-block;margin-left:7px;vertical-align:middle;}
.s12 .f_content-table .f_table-row{border-color:#000;}
.s12 .f_content-table .f_table-body .f_table-th{padding:65px 0 8px;}
.s12 .f_content-table .f_table-body .f_table-td{overflow:hidden;padding:33px 0 33px 34%;border-bottom:1px solid #d6d6d6;font-family:'SamsungOne';font-size:24px;line-height:36px;text-align:left;}
.s12 .f_content-table .f_table-body .f_table-td > .blind{position:absolute;top:35px;left:0;width:auto;height:auto;clip:inherit;font-family:'SamsungSharpSans';font-weight:bold !important;font-size:23px;line-height:34px;opacity:1;}
.s12 .f_content-table .f_table-td:last-child{border-bottom:0;}
.s12 .f_content-table .f_table-body .f_table-td .block{display:block;}
.s12 .f_content-table .f_table-body .f_table-td span.dot {position:relative;padding-left:12px;}
.s12 .f_content-table .f_table-body .f_table-td span.dot:before {content:'';display:inline-block;width:4px;height:4px;margin:0 8px 0 -12px;background:#000;border-radius:50%;vertical-align:middle}
.s12 .show .f_content-table .ico-battery:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_specs_ico_battery_s.jpg')}
.s12 .f_content-table .copy-expand{width:auto;}

.s2 .f_content-table{padding-top:78px;}
.s2 .m_content-spec .m_feature-spec{padding:0 36px 130px}
.s2 .m_content-spec .f_header-s10{padding:80px 0 126px;}
.s2 .m_content-spec .color-chip li{padding-left:26px;}
.s2 .m_content-spec .color-chip span[class*='c']{width:16px;height:16px;margin:0 10px 0 -26px;}
.s2 .m_content-spec .color-chip span[class*='c']:before{width:18px;height:18px;}
.s2 .m_content-spec .color-chip span[class*='c']:after{width:16px;height:16px;}
.s2 .m_content-spec .f_description{padding-top:37px;}
.s2 .m_content-spec .list-desclaimer + .c_btn_learn_more{margin-top:48px}
.s2 .m_content-spec .list-desclaimer li{font-size:16px;line-height:22px;}

.s2 .f_content-table .f_table-header .f_table-th{padding:18px 0;font-size:28px;}
.s2 .f_content-table .f_table-header .f_table-th h3{display:inline-block;}
.s2 .f_content-table .f_table-body .f_table-th{font-size:34px;line-height:40px;}
.s2 .f_content-table .copy-expand{font-size:23px;line-height:32px;}
.s2 .f_content-table .ico-battery:before{width:14px;height:24px;margin-top:5px;}

.s1 .f_content-table{padding-top:70px;}
.s1 .m_content-spec .m_feature-spec{padding:0 25px 65px}
.s1 .m_content-spec .f_header-s10{padding:65px 0 89px;}
.s1 .m_content-spec .f_header-s10 .c_tit-type1{font-size:35px;line-height:40px;}
.s1 .m_content-spec .color-chip{font-size:17px;line-height:27px;}
.s1 .m_content-spec .f_description{padding-top:17px;}
.s1 .m_content-spec .list-desclaimer + .c_btn_learn_more{margin-top:32px}
.s1 .m_content-spec .list-desclaimer li{font-size:13px;line-height:18px;}

.s1 .f_content-table .f_table-header .f_table-th{padding:15px 0;font-size:24px;line-height:40px}
.s1 .f_content-table .btn_fold{width:30px;height:30px;}
.s1 .f_content-table .f_table-body .f_table-th{padding:42px 0 0}
.s1 .f_content-table .f_table-body .f_table-td{padding:27px 0 27px 34%;font-family:'SamsungOne';font-size:21px;line-height:26px;}
.s1 .f_content-table .f_table-body .f_table-td > .blind{top:27px;width:90px;font-size:12px;line-height:17px;}
.s1 .f_content-table .copy-expand{padding-top:18px;font-size:15px;line-height:25px;}
.s1 .f_content-table .ico-battery:before{width:13px;height:22px;margin-top:2px;}

/*! f_table-fixed */
.s12 .f_content-table .f_table-fixed{position:fixed;top:79px;left:0;background:rgba(255,255,255,0.9);transition:background 1s;z-index:9998;}

.s2 .f_content-table .f_table-fixed{top:108px;}
.s2 .f_content-table .f_table-fixed .f_table-th{padding-left:36px;padding-right:36px;}
.s2 .f_content-table .f_table-fixed .f_table-th:after,
.s2 .f_content-table .f_table-fixed .f_table-td:after{left:36px;right:36px;}
.s1 .f_content-table .f_table-fixed .f_table-th{padding-left:25px;padding-right:25px;}
.s1 .f_content-table .f_table-fixed .f_table-th:after,
.s1 .f_content-table .f_table-fixed .f_table-td:after{left:25px;right:25px;}
.s12 .black-type .f_table-fixed{background:#000;}
.s2.dotcom .f_content-table .f_table-fixed{top:121px;}
.s1.dotcom .f_content-table .f_table-fixed{top:77px;}

/* change */
.m_feature-change {width:100% !important;padding:50px;box-sizing:border-box;background-color:#000;overflow:hidden;}
.m_feature-change .f_header-s10 {max-width:1140px;margin:0 auto !important;padding:0 0 0 56px !important;}
.m_feature-change .f_header-s10 .c_cate-type1 span {top:0 !important;}
.m_feature-change .f_header-type1,
.m_feature-change .f_header-type1.static {position:relative !important;top:auto;left:auto;right:auto;width:1140px;margin:0 auto;padding:243px 0 407px;box-sizing:border-box;transition:all .6s cubic-bezier(0.215, 0.610, 0.355, 1.000);}
.s34 .m_feature-change .f_header-s10 .c_cate-type1 {transform: translateY(0) !important;opacity:1 !important;}
.s34 .m_feature-change .f_header-s10 .c_tit-type2 {transform: translateY(0) !important;opacity:1 !important;}
.s12 .m_feature-change .f_header-s10 .c_cate-type1 {transform: translateY(20px) !important;opacity: 0 !important;transition: all 1s;}
.s12 .m_feature-change .f_header-s10 .c_tit-type2 {transform: translateY(20px) !important;opacity: 0 !important;transition: all 1s;}
.m_feature-change:before {position:absolute;top:50px;bottom:50px;left:50px;right:50px;background-color:#fff;content:'';transition:all .6s cubic-bezier(0.215, 0.610, 0.355, 1.000);}
.m_feature-change .hello-check {position:absolute;bottom:350px;}

.s4 .m_feature-change.wide .f_header-type1,
.s4 .m_feature-change.wide .f_header-type1.static {padding:178px 0 61px;}

.s3 .m_feature-change {padding:36px;}
.s3 .m_feature-change:before {top:36px;bottom:36px;left:36px;right:36px;}
.s3 .m_feature-change .f_header-s10 .c_tit-type2 {max-width:800px;}
.s3 .m_feature-change .f_header-type1,
.s3 .m_feature-change .f_header-type1.static {width:864px;padding:193px 0 301px;}
.s3 .m_feature-change .hello-check {bottom:330px;}

.s3 .m_feature-change.wide .f_header-type1,
.s3 .m_feature-change.wide .f_header-type1.static {padding:193px 0 74px;}

.s2 .m_feature-change {padding:36px;}
.s2 .m_feature-change .f_header-type1,
.s2 .m_feature-change .f_header-type1.static {width:696px;padding:156px 0;}
.s2 .m_feature-change .hello-check {bottom:330px;}

.s2 .m_feature-change.wide .f_header-type1,
.s2 .m_feature-change.wide .f_header-type1.static {padding:156px 0 63px;}

.s1 .m_feature-change {padding:26px;}
.s1 .m_feature-change:before {top:0;bottom:0;left:0;right:0;}
.s1 .m_feature-change .f_header-s10 {padding:0 !important;}
.s1 .m_feature-change .f_header-type1,
.s1 .m_feature-change .f_header-type1.static {width:auto;padding:98px 0;}
.s1 .m_feature-change .hello-check {bottom:120px;}

.s1 .m_feature-change.wide .f_header-type1,
.s1 .m_feature-change.wide .f_header-type1.static {padding:98px 0 35px;}

.m_feature-change.wide:before {top:0;bottom:0;left:0;right:0;}
.m_feature-change.wide .f_header-type1,
.m_feature-change.wide .f_header-type1.static {transition-delay:.5s;}

.s12 .m_feature-change.wide .f_header-s10 .c_cate-type1 {transform: translateY(0) !important;opacity:1 !important;}
.s12 .m_feature-change.wide .f_header-s10 .c_tit-type2 {transform: translateY(0) !important;opacity:1 !important;}
.s12 .m_feature-change.wide .f_header-type1,
.s12 .m_feature-change.wide .f_header-type1.static {transition-delay:1.5s;}
.s12 .m_feature-change.wide .f_header-s10 .c_cate-type1 {transition-delay:.7s;}
.s12 .m_feature-change.wide .f_header-s10 .c_tit-type2 {transition-delay:1.1s;}

/*! color_yb */
html.color_yb .m_content-spec,
html.color_yb .m_feature-spec{background:#000;}
html.color_yb .m_content-spec .f_header-s10{color:#fff01f}
html.color_yb .f_content-table{color:#fff01f}
html.color_yb .f_content-table .f_table-header .f_table-th:after,
html.color_yb .f_content-table .f_table-header .f_table-td:after{background-color:#fff}
html.color_yb .f_content-table .ico-galaxy-s10e:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10e_specs_ico_phone_black.jpg')}
html.color_yb .f_content-table .ico-galaxy-s10:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_specs_ico_phone_black.jpg')}
html.color_yb .f_content-table .ico-galaxy-s10-plus:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10-plus_specs_ico_phone_black.jpg')}
html.color_yb .f_content-table .ico-battery:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_specs_ico_battery_black.jpg');}
html.color_yb .m_content-spec .color-chip span[class*='c']:after{border-color:#fff;}
html.color_yb .f_content-table .color-chip .c1:after{position:absolute;top:0;left:0;border:1px solid #fff;border-radius:50%;content:''}
html.color_yb .list-desclaimer{color:#fff01f}
html.color_yb .f_content-table .btn_fold{border-color:#fff}
html.color_yb .f_content-table .btn_fold:before,
html.color_yb .f_content-table .btn_fold:after{background-color:#fff}
html.color_yb.s12 .f_content-table .ico-battery:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_specs_ico_battery_black_s.jpg');}
html.color_yb .m_content-spec .list-desclaimer li a{color:#fff01f}
html.color_yb.s12 .f_table-fixed{background:#000;}
html.color_yb.s12 .f_content-table .f_table-body .f_table-td span.dot:before{background:#fff;}



.ie8 .f_content-table .btn_fold:after{top:0;display:block;width:2px;height:14px;margin:11px 0 0 0}
.ie8 .f_content-table .btn_fold:before{top:0;margin-top:17px;}
.ie8 .f_content-table .btn_fold.unfold:after{display:none;}
.s3.ie8 .f_content-table .ico-galaxy-s10e:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10e_specs_ico_phone_l_ie8.jpg')}
.s3.ie8 .f_content-table .ico-galaxy-s10:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_specs_ico_phone_l_ie8.jpg')}
.s3.ie8 .f_content-table .ico-galaxy-s10-plus:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10-plus_specs_ico_phone_l_ie8.jpg')}
.s3.ie8 .f_content-table .ico-battery:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_specs_ico_battery_l_ie8.jpg');}
html.color_yb.ie8.s3 .f_content-table .ico-galaxy-s10e:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10e_specs_ico_phone_black_l_ie8.jpg')}
html.color_yb.ie8.s3 .f_content-table .ico-galaxy-s10:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_specs_ico_phone_black_l_ie8.jpg')}
html.color_yb.ie8.s3 .f_content-table .ico-galaxy-s10-plus:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10-plus_specs_ico_phone_black_l_ie8.jpg')}
html.color_yb.ie8.s3 .f_content-table .ico-battery:before{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/images/galaxy-s10_specs_ico_battery_black_l_ie8.jpg');}
html.color_yb.ie8 .galaxy-s10 .f_header-s10 .c_cate-type1 span{background:#000;}
.ie8 .color-chip [class*="cg"]:before{background-size:contain;background-position:50% 50%;}




/*! DISCOVER_SPEC END */

/*jump */
.m_jump_controls_arrow { display: block; }
.m_jump_controls { height: auto; }
.m_jump_controls .jump_wrap.hover ul li { width: 16%; }
.m_jump_controls .jump_wrap.hover ul li:hover, .m_jump_controls .jump_wrap.hover ul li:focus, .m_jump_controls .jump_wrap.hover ul li.on { width: 20%; }
.m_jump_controls .jump_wrap.brand ul li { width: 20%; }
.m_jump_controls .jump_wrap.brand.hover ul li { width: 18.75%; }
.m_jump_controls .jump_wrap.brand.hover ul li:hover, .m_jump_controls .jump_wrap.brand.hover ul li:focus, .m_jump_controls .jump_wrap.brand.hover ul li.on { width: 25%; }
.m_jump_controls .jump_wrap ul { white-space: nowrap; font-size: 0; position: relative; -webkit-transition: left .3s; transition: left .3s; left: 0; }
.m_jump_controls .jump_wrap ul li { display: inline-block; width: 16.66%; -webkit-transition: 0.3s; transition: 0.3s; overflow: hidden; }
.m_jump_controls .jump_wrap ul li:last-child { overflow: visible; }
.m_jump_controls .jump_wrap ul li a { display: block; position: relative; }
.m_jump_controls .jump_wrap ul li a span.text { position: absolute; z-index: 3; top: 47px; left: 40px; color: #fff; font-family: 'SamsungSharpSans';font-weight:bold !important; font-size: 26px; }
.m_jump_controls .jump_wrap ul li a .img { position: relative; height: 540px; opacity: 1; bottom: 0; }
.m_jump_controls .jump_wrap ul li a .img figure { position: absolute; top: 0; left: 0%; width: 100%; height: 100%; -webkit-transition: .3s; transition: .3s; }
.m_jump_controls .jump_wrap ul li a .img figure.on { opacity: 0; -webkit-transition: .3s; transition: .3s; z-index: 2; }
.m_jump_controls .jump_wrap ul li:hover a figure.on, .m_jump_controls .jump_wrap ul li a:focus figure.on { opacity: 1; }
.s4 .m_jump_controls_arrow.brand { display: none;}

.s34 .m_jump_controls_arrow { position: absolute; z-index: 10; left: 0; right: 0; width: 100%; height: 405px; }
.s4 .m_jump_controls_arrow{height: 540px;}
/* .s34 .m_jump_controls_arrow.move [class*='-prev'] { opacity: 1; visibility: visible; }
.s34 .m_jump_controls_arrow.move [class*='-next'] { opacity: 0; visibility: hidden; } */
.s34 .m_jump_controls_arrow { pointer-events: none; }
.s34 .m_jump_controls_arrow [class^='m_btn_type'] { position: absolute; top: 50%; z-index: 10; margin-top: -60px; cursor: pointer; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; pointer-events: all; display:block !important;}
.s34 .m_jump_controls_arrow [class^='m_btn_type'].hide{opacity: 0;visibility: hidden;}
.s34 .m_jump_controls_arrow [class*='-prev'] { left: 20px;}
.s34 .m_jump_controls_arrow [class*='-next'] { right: 20px;}
.s34 .m_jump_controls_arrow [class^='m_btn_type'].disabled { opacity: .3 !important; cursor: default; color: black; }
.s34 .m_jump_controls_arrow [class^='m_btn_type'].disabled span { cursor: default; }
.s34 .m_jump_controls_arrow [class^='m_btn_type'].disabled:hover span,
.s34 .m_jump_controls_arrow [class^='m_btn_type'].disabled:focus span { opacity: .6; }
.s34 .m_jump_controls_arrow [class^='m_btn_type'].disabled:focus { outline: none; }
.s3 .m_jump_controls .jump_wrap ul li a span.text { font-size: 22px; top: 36px; left: 32px; }
.s3 .m_jump_controls .jump_wrap ul li { width: 20%; height: 405px; }
.s3 .m_jump_controls .jump_wrap ul li a .img figure img { height: 405px; }
.s34 .m_jump_controls .jump_wrap.move ul { left: -20%; }
.s3 .m_jump_controls .jump_wrap.hover ul li { width: 18.75%; }
.s3 .m_jump_controls .jump_wrap.hover ul li:hover, .s3 .m_jump_controls .jump_wrap.hover ul li:focus, .s3 .m_jump_controls .jump_wrap.hover ul li.on { width: 25%; }

.s12 .m_jump_controls_arrow{display:none;}
.s12 .m_jump_controls .jump_wrap ul { white-space: normal; background:#1f1f1f;}
.s12 .m_jump_controls .jump_wrap ul:after { display: block; clear: both; content: ''; }
.s12 .m_jump_controls .jump_wrap ul li { width: 50% !important; display: block; float: left; -webkit-transition: none; transition: none; vertical-align: top; }
.s12 .m_jump_controls .jump_wrap ul li a .text { text-align: center; left: 0; width: 100%; top: 50%; font-size: 34px; line-height: 34px; height: 34px; margin-top: -17px; }
.s12 .m_jump_controls .jump_wrap ul li a .img { display: block; height: auto; }
.s12 .m_jump_controls .jump_wrap ul li a .img figure { margin: 0 !important; }
.s12 .m_jump_controls .jump_wrap ul li a .img figure img { width: 100%; }
.s12 .m_jump_controls .jump_wrap ul li a .img figure.off { position: static; display: none;}
.s12 .m_jump_controls .jump_wrap ul li a .img figure.on { position: static;   opacity:1;}

.s2 .m_jump_controls .jump_wrap ul {padding:15px;}
.s2 .m_jump_controls .jump_wrap ul li a {padding:15px;}

.s1 .m_jump_controls .jump_wrap ul li a .text { font-size: 16px; line-height: 16px; height: 16px; margin-top: -8px; }
.s1 .m_jump_controls { height: auto !important; }
.s1 .m_jump_controls .jump_wrap ul {padding:8px;}
.s1 .m_jump_controls .jump_wrap ul li a {padding:8px;}

html.color_yb .m_jump_controls .jump_wrap ul li a span.text { color:#fff01f; background: #000;}

/*jump end */


/* explore banner */
.m_banner_explore {height:390px;background-color:#000;}
.m_banner_explore .m_banner_header {margin:0;left:0;padding-left:80px;transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);}
.m_banner_explore .m_banner_header .c_txt-type14 {margin:0 0 7px;font-size:30px;color:#fff;font-family:'SamsungOne';}
.m_banner_explore .m_banner_header p {margin-bottom:37px;font-size:16px;line-height:28px;color:#fff;font-family:'SamsungOne';}
.m_banner_explore .m_banner_header .c_btn_pre-type2 {height:50px;line-height:47px;border-radius:50px;border-width:3px;font-size:13px;font-family:'SamsungOne';font-weight:bold;}
.m_banner_explore .m_banner_header .c_btn_pre-type2 span {background-color:#000;}
.m_banner_explore  .m_banner_figure img {width:auto;height:100%;}
.s34 .m_banner_explore .m_banner_header .c_btn_pre-type2 span{min-width:202px;}
.s3 .m_banner_explore {height:350px;}
.s12 .m_banner_explore .m_banner_header {padding:0;transform:translateY(0);-webkit-transform:translateY(0);-ms-transform:translateY(0);}
.s2 .m_banner_explore {height:1050px;}
.s2 .m_banner_explore .m_banner_header {top:140px;padding:0 125px;}
.s2 .m_banner_explore .m_banner_header .c_txt-type14 {margin:0 0 20px;font-size:38px;line-height:48px;}
.s2 .m_banner_explore .m_banner_header p {font-size:30px;line-height:48px;}
.s2 .m_banner_explore .m_banner_header .c_btn_pre-type2 {height:64px;padding:0;font-size:16px;line-height:57px;}
.s1 .m_banner_explore {height:630px;}
.s1 .m_banner_explore .m_banner_header {top:71px;margin:0 26px;}
.s1 .m_banner_explore .m_banner_header .c_txt-type14 {margin:0 0 10px;font-size:19px;line-height:22px;}
.s1 .m_banner_explore .m_banner_header p {margin-bottom:22px;font-size:12px;line-height:24px;}
.s1 .m_banner_explore .m_banner_header .c_btn_pre-type2 {height:43px;padding:0;border-width:2px;font-size:12px;line-height:40px;}
.s1 .m_banner_explore .m_banner_figure figure {position:relative;left:50%;width:767px;margin:0 0 0 -383px;}
.s1 .m_banner_explore .m_banner_figure figure img {width:100%;height:auto;margin:0;}
.rtl.s1 .m_banner_explore .m_banner_figure figure {lefT:auto;right:50%;margin:0 -383px 0 0;}

html.color_yb .m_banner_explore .m_banner_header p {color:#fff01f !important;background-color:#000 !important;}

/* click video */
@-webkit-keyframes youtube {
    0% {transform:scale(1,1) rotate(0.001deg);}
    50% {}
    100% {opacity:0; transform:scale(1.2,1.2) rotate(0.001deg);}
}
@keyframes youtube {
    0% {transform:scale(1,1) rotate(0.001deg);}
    50% {}
    100% {opacity:0; transform:scale(1.2,1.2) rotate(0.001deg);}
}
@-webkit-keyframes loadingvideo {
    0% {transform:rotate(0deg);}
    50% {}
    100% {transform:rotate(360deg);}
}

@keyframes loadingvideo {
    0% {transform:rotate(0deg);}
    50% {}
    100% {transform:rotate(360deg);}
}
.click-video .f_container .video_wrap {position:relative;}
.click-video .f_container .video_wrap {width:100%;margin:0 auto;}
.click-video .f_container .video_wrap figure {width:100%;margin:0;}
.click-video .f_container .video_wrap figure video {position:absolute;top:0;left:0;width:100%;height:100%;}
.click-video .f_container .video_wrap figure canvas {position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;}
.click-video .f_container .video_wrap figure img {display:block;width:100%;height:auto;}
.click-video .f_container .video_play {position:absolute;left:0;top:0;width:100%;height:100%;background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/common/images/galaxy-video_dimmed.png');color:transparent;z-index:11;}
.click-video .f_container .video_play:after {position:absolute;left:50%;top:50%;width:120px;height:120px;margin:-60px 0 0 -60px;opacity:1;display:block;z-index:1;transition:opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000), transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);-webkit-transition:opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000), transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);-moz-transition:opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000), transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);-o-transition:opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000), transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000); z-index:3; content:''; background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/common/images/btn_player_type2.png') no-repeat; background-size:100% 300%;}
.click-video .f_container .video_play:before {position:absolute;left:50%;top:50%;width:120px;height:120px;margin:-60px 0 0 -60px;opacity:1;display:block;z-index:1;transition:opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000), transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);-webkit-transition:opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000), transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);-moz-transition:opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000), transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);-o-transition:opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000), transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000); z-index:3; content:''; background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/common/images/btn_player_type2.png') no-repeat; background-size:100% 300%; background-position:0 100%; opacity:0;}
.click-video .f_container a.video_play:hover:after,
.click-video .f_container a.video_play:focus:after {opacity:1;transform:scale(1.1,1.1) rotate(0.001deg); background-position:0 50%;}

.click-video .f_container.playing a.video_play {background-image:none;}
.click-video .f_container.playing a.video_play:after {opacity:0; background-position:0 50%;}
.click-video .f_container.playing.pause a.video_play {background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/common/images/galaxy-video_dimmed.png');}
.click-video .f_container.playing.pause a.video_play:before {opacity:1;
    -webkit-animation-name:youtube; animation-name:youtube;
    -webkit-animation-duration:.6s; animation-duration:.6s;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards;
}
.click-video .f_container.playing.playgo a.video_play:after {opacity:1;
    -webkit-animation-name:youtube; animation-name:youtube;
    -webkit-animation-duration:.6s; animation-duration:.6s;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards;
}
.click-video .f_container .hide-bg {z-index:1;}
.click-video .f_container .canvas + .hide-bg {z-index:11;}

.s3 .click-video .f_container .video_play:after,
.s3 .click-video .f_container .video_play:before {width:106px;height:106px;margin:-53px 0 0 -53px;}
.s2 .click-video .f_container .video_play:after,
.s2 .click-video .f_container .video_play:before {width:94px;height:94px;margin:-47px 0 0 -47px;}
.s1 .click-video .f_container .video_play:after,
.s1 .click-video .f_container .video_play:before {width:54px;height:54px;margin:-27px 0 0 -27px;}

.click-video .f_container .click_disable {position:absolute;top:0;left:0;display:block;width:100%;height:100%;z-index:10;}
.click-video .f_container.loading:after {content:''; width:60px; height:60px; position:absolute; left:50%; top:50%; margin:-30px 0 0 -30px; background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/common/images/galaxy-loding.png') no-repeat; background-size:60px;
    -webkit-animation-name:loadingvideo; animation-name:loadingvideo;
    -webkit-animation-duration:2s; animation-duration:2s;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;
    z-index:10;
}
html.color_yb .click-video .f_container .video_play:after,
html.color_yb .click-video .f_container .video_play:before {background-color:#000 !important;}
/* btn-play */
.c_btn-play{position: absolute;top:50%;left:50%;width:130px;height:130px;margin-top: -65px;margin-left: -65px;background:0 0;}
.c_btn-play::before{content: '';position: absolute;z-index: 3;left: 0;top: 0;width: 100%;height: 100%; background: url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/common/images/btn_player_type2.png') no-repeat;background-size: 100% 300%;background-position:0 0; -webkit-transition: transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000); -moz-transition: transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000); transition: transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);}
.c_btn-play:hover::before{background-position:0 50%; transform: scale(1.1,1.1) rotate(0.001deg);}
.s2 .c_btn-play{width:96px;height:96px;margin-top: -48px;margin-left: -48px;}
.s1 .c_btn-play{width:65px;height:65px;margin-top: -32px;margin-left: -32px;}
html.color_yb .c_btn-play:before {background-color:#000 !important;}

/* video+img */
/*[class*='m_feature-'] video + img{visibility: hidden !important;opacity: 0 !important;}*/

/* low mode figcaption hidden */
/*.sL [data-media-v4-mp4] figcaption.blind{visibility: hidden !important;opacity: 0 !important;}
.sL .click-video [data-media-v4-mp4] figcaption.blind{visibility: visible !important;opacity: 1 !important;}*/


/* buy now banner */
.m_content-banner.country-check.regist .m_banner_header p.regist {display:block !important;}
.m_content-banner.country-check.regist .m_banner_header a.regist {display:inline-block !important;}
.m_content-banner.country-check.order .m_banner_header p.order {display:block !important;}
.m_content-banner.country-check.order .m_banner_header a.order {display:inline-block !important;}
.m_content-banner.country-check.buy .m_banner_header p.buy {display:block !important;}
.m_content-banner.country-check.buy .m_banner_header a.buy {display:inline-block !important;}
.m_content-banner.country-check.where .m_banner_header p.where {display:block !important;}
.m_content-banner.country-check.where .m_banner_header a.where {display:inline-block !important;}
.m_content-banner.country-check.regist.where .m_banner_header p.where {display:none !important;}
.m_content-banner.country-check.order.where .m_banner_header p.where {display:none !important;}
.m_content-banner.country-check.buy.where .m_banner_header p.where {display:none !important;}

.m_content-banner.country-check .m_banner_header a {display:none;}

.s12 .m_content-banner.country-check.regist .m_banner_header a.regist {display:block !important;}
.s12 .m_content-banner.country-check.order .m_banner_header a.order {display:block !important;}
.s12 .m_content-banner.country-check.buy .m_banner_header a.buy {display:block !important;}
.s12 .m_content-banner.country-check.where .m_banner_header a.where {display:block !important;}

.m_banner_buynow {background:#171717 !important;height:auto; min-height:390px;}
.s12 .m_banner_buynow {height:auto;}

.m_banner_buynow .m_banner_header {margin:0;left:0;padding-left:80px;transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);}
.m_banner_buynow .message{font-family:'SamsungOne';color:#fff;font-size:30px;line-height:48px;margin-bottom:32px;}
.m_banner_buynow .m_banner_figure{position:absolute;right:0;top:auto;bottom:0;z-index:-1;}
.m_banner_buynow .m_banner_figure img{vertical-align:middle}

.s34 .m_banner_buynow .m_banner_figure img{width:435px}
.s34 .m_banner_buynow .m_banner_figure.img-group img,
.s34 .m_banner_buynow .m_banner_figure.img-5g img{width:auto}

.s4 .m_banner_buynow .m_banner_figure{right:153px}
.s4 .m_banner_buynow .m_banner_header{width:780px;margin-top:0}

.s3 .m_banner_buynow .m_banner_figure{right:70px}
.s3 .m_banner_buynow .m_banner_header{width:490px;margin-top:0}

.s12 .m_banner_buynow .m_banner_figure{left:0;top:auto;text-align:center}
.s12 .m_banner_buynow .m_banner_header{text-align:center;transform:translateY(0);-webkit-transform:translateY(0);-ms-transform:translateY(0);}

.s2 .m_banner_buynow {min-height:830px;}
.s2 .m_banner_buynow .m_banner_header{top:85px;padding:0 36px;}
.s2 .m_banner_buynow .message {font-size:38px;}
.s2 .m_banner_buynow a.order-button {width:248px;margin:0 auto;}
.s2 .m_banner_buynow .order-button + .order-button{margin-top:18px;}
.s2 .m_banner_buynow a.order-button span {padding:0;}

.s1 .m_banner_buynow {min-height:415px;}
.s1 .m_banner_buynow .m_banner_header{top:40px;padding:0 28px;}
.s1 .m_banner_buynow a.order-button {width:174px;margin:0 auto;}
.s1 .m_banner_buynow .order-button + .order-button{margin-top:10px;}
.s1 .m_banner_buynow a.order-button span {padding:0;}
.s1 .m_banner_buynow .message {font-size:16px;line-height:22px;margin-bottom:27px;}
.s1 .m_banner_buynow .m_banner_figure figure {display:block;width:320px;margin:0 auto}
.s1 .m_banner_buynow .m_banner_figure img{display:inline-block;width:240px;margin:0;}
.s1 .m_banner_buynow .m_banner_figure.img-group img {width:236px;}
.s1 .m_banner_buynow .m_banner_figure.img-5g img {width:218px;}

.s4 .m_banner_buynow .order-button {margin-right:18px;}
.s3 .m_banner_buynow .order-button {margin-right:16px;}


/* trande up banner */
.m_trade_up_banner {background:#292929 !important; height:auto; min-height:390px;position:relative;}
.m_trade_up_banner .tit_area {padding:113px 500px 103px 80px;}
.m_trade_up_banner strong {font-size:30px; line-height:48px; color:#fff; font-family:'SamsungOne';}
.m_trade_up_banner p {font-size:16px; line-height:28px; color:#fff; font-family:'SamsungOne'; margin-top:6px;}
.m_trade_up_banner a.c_btn_pre-type2 {margin-top:38px;}
.m_trade_up_banner a.c_btn_pre-type2 span {background-color:#292929;}

.s3 .m_trade_up_banner {min-height:350px;}
.s3 .m_trade_up_banner .tit_area {padding:92px 400px 88px 80px;}
.s3 .m_trade_up_banner figure {margin-left:175px;}

.s2 .m_trade_up_banner .tit_area {position:relative; z-index:2; padding:0; text-align:center; padding-top:135px; width:620px; margin:0 auto;padding-bottom:917px;min-height:1333px;box-sizing:border-box;}
.s2 .m_trade_up_banner .tit_area strong {font-size:38px; line-height:48px;}
.s2 .m_trade_up_banner .tit_area p {font-size:30px; line-height:48px;margin-top:18px;}
.s2 .m_trade_up_banner a.c_btn_pre-type2 {margin-top:33px;}

.s1 .m_trade_up_banner .tit_area {position:relative; z-index:2; padding:0 18px; text-align:center; padding-top:72px; padding-bottom:390px;min-height:615px;box-sizing:border-box;}
.s1 .m_trade_up_banner .tit_area strong {font-size:16px; line-height:22px;}
.s1 .m_trade_up_banner .tit_area p {font-size:12px; line-height:22px; margin-top:10px;}
.s1 .m_trade_up_banner a.c_btn_pre-type2 {margin-top:25px;}

html.color_yb .m_trade_up_banner strong {background-color: #000 !important; color: #fff01f !important;}
html.color_yb .m_trade_up_banner p {background-color: #000 !important; color: #fff01f !important;}

/* desc */
.m_content-desc {background-color:#f7f7f7 !important;}
.m_content-desc article {padding:42px 0 40px;}
.m_content-desc .f_header-type1 {position:static;width:1440px !important;margin:0 auto;text-align:left !important;}
.transition .m_content-desc article.fadebg .f_header-type1 {opacity:1 !important;}
.m_content-desc .f_header-type1 ol {padding-left:20px;}
.m_content-desc .f_header-type1 ol li {font-size:13px;line-height:20px;color:#666;font-family:'SamsungOne';list-style-type: decimal !important;}
.m_content-desc .f_header-type1 p.desc {padding-left:20px;padding-bottom:25px;font-size:13px;line-height:20px;color:#666;font-family:'SamsungOne';}
.m_content-desc .f_header-type1 p.desc:before{display:inline-block;width:20px;text-align:center;margin-left:-20px;content:'*';}

.s34 .m_content-desc article {padding-left:30px;padding-right:30px;}
.s3 .m_content-desc .f_header-type1 {width:1024px !important;}

.s2 .m_content-desc .f_header-type1 {width:720px !important;}

.s1 .m_content-desc article {padding:40px 0 38px;}
.s1 .m_content-desc .f_header-type1 {width:inherit !important;margin:0 18px;}

.dotcom #desc-section {}
.dotcom #desc-section ol li {font-size:13px;line-height:20px;color:#666; list-style-type: decimal !important; min-height:auto;}


html.color_yb .m_content-desc {background-color:#000 !important;}
html.color_yb .m_content-desc .f_header-type1 ol li {color:#fff01f !important;}

/* performance check img */
.pfr-ck-wrap{position: absolute;left: -100%;top: -100%;z-index: -1;}

/* rtl */

.m_business-banner {background:#f7f7f7 !important;padding:50px 0;font-size:0;text-align:center;position:relative;}
.m_business-banner p,
.m_business-banner a.c_btn_pre-type2 {display:inline-block;}
.m_business-banner p {font-size:20px; line-height:22px; color:#000; font-family:'SamsungOne';vertical-align:middle;}

.s2 .m_business-banner {padding:80px 0;}
.s2 .m_business-banner p {display:block;font-size:26px;line-height:44px;width:490px;margin:0 auto;}

.s1 .m_business-banner {padding:50px 18px;}
.s1 .m_business-banner p {display:block;font-size:15px;line-height:25px;width:100%;margin:0 auto;}

html.color_yb .m_business-banner {background-color: #000 !important;}
html.color_yb .m_business-banner p {background-color: #000 !important; color: #fff01f !important;}

.m_business-banner .c_btn_learn_more {
    vertical-align: middle;
    display: inline-block;
}

.m_business-banner .c_btn_learn_more span{
    background-color: #f7f7f7 !important;
}

.s1 .m_business-banner .c_btn_learn_more, .s2 .m_business-banner .c_btn_learn_more {
    margin-top: 30px;
}

.s3 .m_business-banner .c_btn_learn_more, .s4 .m_business-banner .c_btn_learn_more {
    margin-left: 30px;
}

.s34 .m_business-banner .c_btn_learn_more a.c_btn_pre-type2{
    margin-top: 0;
}

[class*='c_link_pre-'] span {
    text-transform: uppercase;
}
.s2 br.special_visible {
    display: block;
}
br.special_visible {
    display:none;
}

.s34 #s10-tradein * {
    box-sizing: border-box;
}

.s34 .galaxy-s10 #s10-tradein .f_header-s10 {
    width: 100%;
    max-width: 1440px;
}

.s34 #s10-tradein .c_desc-type1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
}

.s34 #s10-tradein .c_desc-type1 > div {
    border-right: 1px solid white;
    width: 30%;
    padding-right: 1%;
    position: relative;
    height: 230px;
}

.s34 #s10-tradein .c_desc-type1 > div .date {
    position: absolute;
    bottom: 0;
}

.s34 #s10-tradein .c_desc-type1 > div:last-child {
    border-right: none;
}

.s12 .galaxy-s10 #s10-tradein .slick-section .slick-slide {
    text-align: left;
}

.s34 .galaxy-s10 #s10-tradein .slick-section picture {
    display: block;
    position: absolute;
    bottom: 20px;
}

.s12 .galaxy-s10 #s10-tradein .slick-section .slick-slide picture img {
    margin-top: 20px;
}

.s12 .galaxy-s10 #s10-tradein .slick-section .slick-slide .headline {
    margin-top: 10px;
}

section .static-img {
    padding-bottom: 120px;
}

section .static-img img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1440px;
}

#kv-type2.m_content-kv {
    height: auto;
}

#s10-tradein .c_btn_learn_more {
    margin-bottom: 50px;
    margin-top: 50px;
}